<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('static/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('static/css/global.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('static/img/favicon.png') }}"/>
</head>
<body>
<div class="container">
    <div class="logo"><a href="{{ path('homepage') }}"><img style="width: 100px; margin: 5px" src="{{ asset('static/img/chain_min.svg.png') }}"></a></div>
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('homepage') }}">Strona główna</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}">Wydarzenia</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}">Poradnik</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}">Infrastruktura</a>
                    </li>
                    <li>
                        <a href="{{ path('homepage') }}">Społeczność</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<footer>

</footer>
</body>
</html>
