{% extends 'base.html.twig' %}

{% block body %}
    <div id="top-news" style="height: 410px">
        {% for article in featuredArticles %}
            <div class="item-{{ loop.index }}"
                 style="background-image: url('{{ path('image_content', {'id': article.coverImageId}) }}')">
                <div class="header">
                    <a href="{{ path('show_article', {'id': article.id}) }}">{{ article.title }}</a>
                    <div class="description">
                        <span class="date">{{ article.createdAt.format('Y-m-d') }}</span>
                        <span class="author">Gal Anonim</span>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    <h2 class="banner" style="width: 33%; float: right">Wydarzenia</h2>
    <div class="news-column">
        {% for article in articles %}
            <div class="news-item">
                {% if article.coverImageId is not null %}
                    <div class="news-item-image"
                         style="background-image: url('{{ path('image_content', {'id': article.coverImageId}) }}');"></div>
                {% endif %}
                <div class="news-item-content">
                    <h3><a href="{{ path('show_article', {'id': article.id}) }}"> {{ article.title }}</a></h3>
                    {% set break = false %}
                    {% for element in article.content if not break %}
                        {% if element.type == 'text' %}
                            <p>{{ element.value|length > 350 ? element.value|slice(0, 350) ~ '...' : element.value }}</p>
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="news-item" style="margin: 15px 0">
                <div class="news-item-content">
                    <h3>Brak artykułów</h3>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="events-column">
        {% for event in events %}
            <div class="event-item clearfix" style="margin: 0">
                {#<div class="news-item-image" style="float: left; height: 66px; background-color: #985f0d; display: block; width: 100%;"></div>#}
                <div class="news-item-content">
                    <p style="font-size: 20px">{{ event.date.format('Y-m-d') }} |
                        <strong>{{ event.title }}</strong></p>
                    {{ event.description }}
                </div>
                <hr>
            </div>
        {% else %}
            <div class="event-item clearfix" style="margin: 15px 0">
                <div class="news-item-content col-lg-8">
                    Brak zbliżających się wydarzeń.
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="homepage-video">
        <h2 class="banner">Media</h2>
        <iframe style="display: block; float: left;" width="65%%" height="417px"
                src="https://www.youtube.com/embed/videoseries?list=PLyTSjTane06vMWtTm0zVJoKils2hSrzoi" frameborder="0"
                gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <div class="playlist-element">Playlist element</div>
        <div class="playlist-element">Playlist element</div>
        <div class="playlist-element">Playlist element</div>
        <div class="playlist-element">Playlist element</div>
    </div>
{% endblock %}

