{% extends 'base.html.twig' %}

{% block title %}
    Panel Administracyjny
{% endblock %}

{% block body %}
    <h2>Strona główna</h2>

    <h2>Artykuły</h2>
    <p><a href="{{ path('create_article') }}">+ dodaj</a></p>
    <p><a href="{{ path('edit_featured_articles') }}">Wybierz artykuły wyróżnione</a></p>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('show_article', {'slug': article.slug}) }}">{{ article.title }}</a> |
                <a href="{{ path('edit_article', {'id': article.id}) }}">[edytuj]</a> |
                {% if article.public %}
                    <a href="{{ path('withdraw_article', {'id': article.id}) }}">[ukryj]</a>
                {% else %}
                    <a href="{{ path('publish_article', {'id': article.id}) }}">[publikuj]</a>
                {% endif %}
            </li>
        {% else %}
            <li>Brak artykułów.</li>
        {% endfor %}
    </ul>

    <h2>Wydarzenia</h2>
    <p><a href="{{ path('create_event') }}">+ dodaj</a></p>
    <ul>
        {% for event in events %}
            <li>
                {{ event.date.format('Y-m-d') }} | {{ event.title }} |
                <a href="{{ path('edit_event', {'id': event.id}) }}">[edytuj]</a>
            </li>
        {% else %}
            <li>Brak wydarzeń.</li>
        {% endfor %}
    </ul>

    <h2>Wideo</h2>
    <p><a href="{{ path('create_video') }}">+ dodaj</a></p>
    <ul>
        {% for video in videos %}
            <li>
                {{ video.title }} | <a href="{{ path('edit_video', {'id': video.id }) }}">[edytuj]</a>
            </li>
        {% else %}
            <li>Brak filmów.</li>
        {% endfor %}
    </ul>

    <h2>Grafiki i zdjęcia</h2>
    <p><a href="{{ path('create_image') }}">+ dodaj</a></p>
    <ul>
        {% for image in images %}
            <li>
                <a href="{{ path('image_content', {'id': image.id}) }}">{{ image.description }}</a> | {{ image.id }}
            </li>
        {% else %}
            <li>Brak obrazów.</li>
        {% endfor %}
    </ul>

    <h2>Wykresy</h2>
    <p><a href="{{ path('create_chart') }}">+ dodaj</a></p>
    <ul>
        {% for chart in charts %}
            <li>
                {{ chart.name }} | <a href="{{ path('edit_chart', {'id': chart.id }) }}">[edytuj]</a>
            </li>
        {% else %}
            <li>Brak wykresów.</li>
        {% endfor %}
    </ul>
{% endblock %}
