{% extends 'base.html.twig' %}

{% block body %}
    <h2>Strona główna</h2>
    <p><a href="{{ path('edit_featured_articles') }}">Artykuły wyróżnione</a></p>

    <h2>Artykuły</h2>
    <p><a href="{{ path('create_article') }}">+ dodaj</a></p>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('show_article', {'id': article.id}) }}">{{ article.title }}</a> |
                <a href="{{ path('edit_article', {'id': article.id}) }}">[edytuj]</a>
            </li>
        {% else %}
            <li>Brak artykułów.</li>
        {% endfor %}
    </ul>
    <h2>Wydarzenia</h2>
    <p><a href="{{ path('create_event') }}">+ dodaj</a></p>
    <ul>
        {% for event in events %}
            <li>
                {{ event.date.format('Y-m-d') }} | {{ event.title }} |
                <a href="{{ path('edit_event', {'id': event.id}) }}">[edytuj]</a>
            </li>
        {% else %}
            <li>Brak wydarzeń.</li>
        {% endfor %}
    </ul>

    <h2>Grafiki i zdjęcia</h2>
    <p><a href="{{ path('create_image') }}">+ dodaj</a></p>
    <ul>
        {% for image in images %}
            <li>
                <a href="{{ path('image_content', {'id': image.id}) }}">{{ image.description }}</a> | {{ image.id }}
            </li>
        {% else %}
            <li>Brak obrazów.</li>
        {% endfor %}
    </ul>
{% endblock %}
